synthetic_transactions.csv

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/
.venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.coverage
.coverage.*
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# dotenv
.env.local